.event__list-item {
  border-radius: 1em;
  color: white;
  background-color: #FF570A;
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-columns: 60% 10% 30%;
  grid-template-rows: 40% 20% 40%;
  grid-template-areas:
    "taskT . timeStart"
    ". . timeSpan"
    "taskD . timeEnd"
  ;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
}

.event__list__heading {
  text-decoration: underline;
  grid-area: taskT
}

.upcoming__events__list {
  padding: 10px;
}

.upcoming__events__heading {
  text-align: center;
  border-bottom: 1px solid gray;
}

.event__from {
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  /* background-color: #12355B; */
  grid-area: timeStart;
  border: 1px solid white;
  border-bottom: 0;
}

.event__to {
  border-radius: 0 0 5px 5px;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  /* background-color: #12355B; */
  grid-area: timeEnd;
  border: 1px solid white;
  border-top: 0;

}

.spanSpacer {
  margin: 0;
  /* background-color: #12355B; */
  text-align: center;
  grid-area: timeSpan;
  border: 1px solid white;
  border-block: 0;
}

.spanSpacer,
.event__from,
.event__to {
  padding-inline: 4px;
}

.event__description {
  grid-area: taskD;
}