.footer {
  margin-top: 2rem;
}

.navItems {
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
  text-align: center;
  color: #757575;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.contactLink {
  color: #E64A19
}