.footer {
  margin-top: 2rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navItems {
  padding: 0;
  list-style: none;
  text-align: center;
  color: #757575;
  margin: 0;
}

.navItem {
  margin-block: 1em;
  display: inline-block;
}

.contactLink {
  color: #e64a19;
}

.contactLink:hover {
  color: #fe5f2f
}