.signedInStatus {
  display: block;
  min-height: 4rem;
}

.navbar {
  flex: 1;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem;
  margin: 0;
  transition: all 0.2s ease-in;
}

.loading {
  top: -2rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  padding-top: 0.8rem;
  left: 1rem;
  right: 6.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
  line-height: 1.3rem;
}

.signedInText {
  padding-top: 0rem;
  left: 4.6rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white;
}

.button,
.buttonPrimary {
  float: right;
  margin-right: -0.4rem;
  font-weight: 500;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 0.7rem 0.8rem;
  position: relative;
  z-index: 10;
  background-color: transparent;
  color: white;
}

.buttonPrimary {
  background-color: #ffc107;

  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

.logo__container {
  flex: 1;
}

.logo__text {
  margin-left: 2em;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px 0 #e64a19, 0 1px #e64a19, 2px 0 #e64a19, 0 -1px #e64a19;
  background-color: #ffbf69;
  padding: 10px;
  border-radius: 20px;
}