.landing__info {
  background-color: #ff5722;
  color: white;
  text-align: center;
  padding-block: 2em;
  padding-inline: 2em;
  margin-bottom: 2em;
  max-width: 800px;
}

.cta__button__login {
  background-color: #ff5722;
  border-style: none;
  color: white;
  padding: 1em;
  border-radius: 1em;
}

.landing__heading {
  font-size: 2em;
  text-align: center;
  color: white;
  margin-top: 4em;
  margin-bottom: 2em;
  text-shadow: -1px 0 #e64a19, 0 1px #e64a19, 3px 0 #e64a19, 0 -1px #e64a19;
}

.buttonPrimary {
  background-color: #ffc107;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 600px) {
  .landing__info {
    border-radius: 0.5em;
  }
}