.event__form {
  display: flex;
  background-color: #ff570a;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
  color: white;
  margin: 0 auto;
}

.section__eventform {
  background-color: #ff570a;
  border-radius: 0 0 1em 1em;
}

.event__form__select {
  border-radius: 10px;
  padding: 2px;
  border-style: none;
}

.submit__button {
  background-color: #ffc107;
  color: white;
  border-style: none;
  border-radius: 1em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 1em;
  cursor: pointer;
}

.submit__button:hover {
  background-color: #ff2d42;
}

.submit__button:active {
  background-color: #87020f;
}

.event__form__weekdays__list {
  display: flex;
  padding: 0;
  gap: 8px;
  margin: 0.5em 0 0 0;
}

.event__form__weekday_checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__form__timeinput {
  margin-block: 0.5em;
}

.event__form__select__container {
  margin-top: 0.3em;
}
