.event__form {
  display: flex;
  background-color: #ff570a;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 600px;
  color: white;
  margin: 0 auto;
  margin-top: 5em;
}

.section__eventform {
  background-color: #ff570a;
  border-radius: 1em;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}

.section__eventform:hover {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.4);
}

.event__form__select {
  border-radius: 10px;
  padding: 2px;
  border-style: none;
}

.submit__button {
  background-color: rgb(255, 193, 7);
  color: black;
  border-style: none;
  border-radius: 1.5em;
  padding: 1em 2em;
  margin-top: 1em;
  cursor: pointer;
  font-weight: bold;
}

.submit__button:hover {
  background-color: rgb(255 205 57);
}

.submit__button:active {
  background-color: rgba(255, 193, 7, 0.577);
}

.event__form__weekdays__list {
  display: flex;
  padding: 0;
  gap: 8px;
  margin: 0.5em 0 0 0;
}

.event__form__weekday_checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__form__timeinput {
  margin-block: 0.5em;
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.event__form__select__container {
  margin-top: 0.3em;
}

.event__config__container {
  border: 1px solid white;
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event__form__label__timeinput {
  margin: 5px 0 10px 0;
}

.event__form__label__calendarselect {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .event__form__weekdays__list {
    gap: 15px;
  }
}

.event__form_timeinput__max,
.event__form_timeinput__min {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.event__form__input__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
