.event__form__input-container {
  width: 100%;
  margin-top: 0.5em;
  animation: fadeIn 0.8s;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'taskTitle . durationTitle'
    'taskContent . durationContent'
    'descriptionT . .'
    'descriptionC descriptionC descriptionC';
}

.durationTitle,
.taskTitle,
.descriptionT {
  margin-bottom: 5px;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.taskTitle {
  grid-area: taskTitle;
}

.durationTitle {
  grid-area: durationTitle;
}

.taskContent {
  grid-area: taskContent;
}

.durationContent {
  grid-area: durationContent;
}

.descriptionT {
  margin-top: 1em;
  grid-area: descriptionT;
}

.descriptionC {
  grid-area: descriptionC;
}

.descriptionC,
.taskContent,
.durationContent {
  padding-block: 3px;
}
