.event__form__input-container {
  position: relative;
  width: 100%;
  /* margin-top: 0.5em; */
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'taskTitle . durationTitle'
    'taskContent . durationContent'
    'descriptionT . .'
    'descriptionC descriptionC descriptionC';
}

.event__form__input-container__last {
  position: relative;
  width: 100%;
  /* margin-top: 0.5em; */
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'taskTitle . durationTitle'
    'taskContent . durationContent'
    'descriptionT . .'
    'descriptionC descriptionC descriptionC';
  transition: example 330ms ease--out;
  animation-name: example;
  animation-duration: 0.5s;
}

@keyframes example {
  0% {
    z-index: -1;
    opacity: 0;
    bottom: -100px;
  }
  100% {
    z-index: 0;
    opacity: 100%;
    bottom: 0px;
  }
}

.durationTitle,
.taskTitle,
.descriptionT {
  margin-bottom: 5px;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    translate: 0;
    /* opacity: 0; */
  }

  100% {
    translate: 1;
    /* opacity: 1; */
  }
}

.taskTitle {
  grid-area: taskTitle;
}

.durationTitle {
  grid-area: durationTitle;
}

.taskContent {
  grid-area: taskContent;
}

.durationContent {
  grid-area: durationContent;
}

.descriptionT {
  margin-top: 1em;
  grid-area: descriptionT;
}

.descriptionC {
  grid-area: descriptionC;
}

.descriptionC,
.taskContent,
.durationContent {
  padding-block: 3px;
}
