.event__form__input-container {
  position: relative;
  width: 100%;
  /* margin-top: 0.5em; */
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'taskTitle . durationTitle'
    'taskContent . durationContent'
    'descriptionT . .'
    'descriptionC descriptionC descriptionC';
}

.event__form__input-container__last {
  position: relative;
  width: 100%;
  /* margin-top: 0.5em; */
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'taskTitle . durationTitle'
    'taskContent . durationContent'
    'descriptionT . .'
    'descriptionC descriptionC descriptionC'
    '. . newLineButton';
  animation-name: fromBelow;
  animation-duration: 0.5s;
}

@keyframes fromBelow {
  0% {
    z-index: -1;
    opacity: 0;
    bottom: -100px;
  }
  100% {
    z-index: 0;
    opacity: 100%;
    bottom: 0px;
  }
}

.durationTitle,
.taskTitle,
.descriptionT {
  margin-bottom: 5px;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    translate: 0;
    /* opacity: 0; */
  }

  100% {
    translate: 1;
    /* opacity: 1; */
  }
}

.taskTitle {
  grid-area: taskTitle;
}

.durationTitle {
  grid-area: durationTitle;
}

.taskContent {
  grid-area: taskContent;
}

.durationContent {
  grid-area: durationContent;
}

.descriptionT {
  margin-top: 1em;
  grid-area: descriptionT;
}

.descriptionC {
  grid-area: descriptionC;
}

.newLineButton {
  grid-area: newLineButton;
  padding: 0;
  background-color: rgb(255, 193, 7);
  border-style: none;
  border-radius: 1.5em;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1rem;
  margin-top: 15px;
  padding: 10px 5px;
}
.newLineButton:hover {
  background-color: rgb(255 205 57);
}

.newLineButton:active {
  background-color: rgba(255, 193, 7, 0.577);
}

.descriptionC,
.taskContent,
.durationContent {
  padding-block: 3px;
}
