body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  margin: 0 auto;
  background: #fff;
  color: #333;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ffbf69;
}

.upcoming__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  margin-bottom: 6em;
}

input {
  border-style: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 1px;
}

header {
  display: flex;
  background-color: #e64a19;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 1;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
  color: white;
}

hr {
  border: 1px solid #ddd;
}

svg {
  height: 2em;
}

input[type="checkbox"] {
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: orangered;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}