.event__list-item {
  width: 80%;
  border-radius: 1em;
  color: white;
  background-color: #ff570a;
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 40% 20% 40%;
  grid-template-areas:
    'taskT timeStart deleteBtn'
    'taskD timeSpan .'
    'taskD timeEnd .';
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
  max-width: 750px;
}

.event__list__heading {
  grid-area: taskT;
}

.upcoming__events__list {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming__events__heading {
  text-align: center;
  border-bottom: 1px solid gray;
}

.event__from {
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  grid-area: timeStart;
  border: 1px solid white;
  border-bottom: 0;
}

.event__to {
  border-radius: 0 0 5px 5px;
  padding-top: 10px;
  text-align: center;
  margin: 0;
  grid-area: timeEnd;
  border: 1px solid white;
  border-top: 0;
}

.spanSpacer {
  margin: 0;
  text-align: center;
  grid-area: timeSpan;
  border: 1px solid white;
  border-block: 0;
}

.spanSpacer,
.event__from,
.event__to {
  padding-inline: 4px;
}

.event__description {
  grid-area: taskD;
}

.upcoming__events__empty {
  width: 50%;
  color: white;
  background-color: #ff570a;
  text-align: center;
  padding: 10px;
  border-radius: 1em;
}

.event__allDay {
  grid-area: timeStart / timeSpan / timeEnd;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 0;
  padding-inline: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming__events__deleteBtn {
  border-style: none;
  background-color: transparent;
  color: white;
  grid-area: deleteBtn;
  cursor: pointer;
}
